

#row1 {
	margin: 0;
}

#thumbnail1 {
  width: 45%;
  height: auto;
  float: right;
	padding: 5px;
  margin: 15px;
  border: 1px solid rgba(50, 50, 50, .3);
}

#thumbnail1 img {
  width: 100%;
}

#thumbnail1 hr {
  margin-top: -1px;
}

#thumbnail2 {
  width: 45%;
  height: auto;
  float: right;
	padding: 5px;
  margin: 15px;
  border: 1px solid rgba(50, 50, 50, .3);
}

#thumbnail2 img {
  width: 100%;
}

#thumbnail2 hr {
  margin-top: -1px;
}

h2 {
	color: black;
}

h3 {
	color: rgb(50, 50, 50);
}

p {
	color: black;
}

#trekInfoPageTitle {
  font-weight: bold;
}
#trekInfoPageTitleSub {
  font-weight: bold;
}

#phase1Title {
  margin-bottom: 30px;
}
#phase2Title {
  margin-bottom: 30px;
}
#phase3Title {
  margin-bottom: 30px;
}