

#mainDiv1 {
    height: 700px;
    background-image: url("https://mountaintrip.com/wp-content/uploads/2016/05/DSC_3374.jpg");
    background-size: auto 140%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

#formDiv1 {
    width: 300px;
    background-color: rgba(144, 238, 144, .5);
    padding: 20px;
    height: 100%;
}

#formDiv1 h1 {
    color: white;
}

#linkText1 {
    color: rgb(50, 50, 50);
    font-weight: bold;
}

#signInLink2 {
    color: white;
}
#signInLink2:hover {
    color: antiquewhite;
    text-decoration: none;
}

#accountQuestion {
    color: rgb(50, 50, 50);
    font-weight: bold;
}

#signUpLink1 {
    color: white;
}
#signUpLink1:hover {
    color: antiquewhite;
    text-decoration: none;
}
