

#trekkerRow {
    margin: 0;
}

#thumbnailDiv {
    float: none;
}

#thumbnail5 {
    width: 100%;
    padding: 5px;
    margin: 20px 10px;
    border: 2px solid rgb(50, 50, 50);
}

#thumbnail5 hr {
    margin-top: -1px;
}