

#mapImageDiv {
    border: solid 1px rgb(50, 50, 50);
    margin-top: -150px;
    padding: 5px;
    text-align: center;
}

#mapImage {
    height: 770px;
    width: 125%;
}

#mapThumbnail {
    margin-top: -150px;
}

#mapThumbnail img {
    width: 100%;
}

#mapThumbnail hr {
    margin-top: -1px;
}



@media screen and (max-width:991px) {
    #mapImageDiv {
        margin-top: 40px;
    }

    #mapThumbnail {
        margin-top: 40px;
    }
}